*{
  padding: 0;
  margin: 0;
  outline: 0;
}
*::selection{
    color: #5f9ea0;
}
body{
  min-width: 345px;
  width: 100%;
}
.bgphoto{
  width: 100%;
  min-height: 90vh;
  background-image: url(../images/bg\ photo.png);
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: content-box;
}
.waxom-logo {
  display: inline-block;
  margin-left: 22%;
  padding-top: 12px;
  float: left;
}
.waxom-logo h3{
  color: #fff;
  display: inline;
  font-family: 'Raleway', sans-serif;
  font-size: x-large;
  cursor: pointer;
}
.navbar{
  width: 58%;
  display:inline;
}
.navbar ul{
  display: inline-block;
  text-align:left;
  margin-top: 6px;
}
.navbar ul li{
  display: inline;
  list-style-type: none;
}
.navbar ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  padding:0  6px;
  font-family: 'Montserrat', sans-serif;
}
.navbar ul li a:hover{
  color: coral;
}
.navbar ul li img{
  height:16px;
  padding-left: 10px;
  cursor:pointer;
}
#bars{
  position: fixed;
  top: 20px;
  right: 18px;
  color:#fff;
  display: none;
  cursor: pointer;
}
#bars:hover{
  transform: scale(1.3);
}
.heading{
  display: block;
  text-align: center;
  width: 45%;
  margin: 25vh auto;
}
.heading h4{
  color: #fff;
  line-height: 1.2;
  font-size: 36px;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
}
.heading h2{
  color: #fff;
  font-size: 52px;
  font-family: "Raleway";
  font-weight: bold;
  text-align: center;
}
.heading p{
  color: #fff;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}
.heading::before,.heading::after{
  content: "";
  width: 40px;
  height: 73px;
  position: absolute;
}
.heading::before{
  background-image: url(../icons/left.png);
  background-size: cover;
  left: 12%;
  top: 40%;
  cursor: pointer;
}
.heading::after{
  background-image: url(../icons/right.png);
  background-size: cover;
  right: 12%;
  top: 40%;
  cursor: pointer;
}
#get{
  display: inline-block;
  border-radius: 3px;
  box-shadow: inset 0px 3px 0px 0px rgba(115, 99, 87, 0.004);
  margin: 0 auto;
  font-size: 14px;
  font-family: "Raleway";
  font-weight: bold;
}
.circles{
  display: flex;
  justify-content: center;
  width:100%;
}
.circles img{
  width:11px;
  height:11px;
  margin: 30px 4px;
  cursor: pointer;
}
.circles img:hover{
  background: url(../icons/03.png);
}
.sec1{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 7vh 0;
}
.sec1 img{
  margin:25px auto;
  margin-left: 40%;
  cursor: pointer;
}
.sec1 img:hover{
  transform: scale(0.9);
}
.sec1 h3{
  font-size: 22px;
  font-family: "Raleway";
  color: rgb(85, 85, 85);
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
}
.sec1 p{
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(140, 140, 140);
  line-height: 1.714;
  text-align: center;
}
.sec2{
  width: 100%;
}
.sec2 h2{
  font-size: 30px;
  font-family: "Raleway";
  color: rgb(85, 85, 85);
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  padding-top: 6vh;
}
.sec2 p{
  font-size: 16px;
  font-family: "Montserrat";
  color: rgb(140, 140, 140);
  line-height: 1.75;
  text-align: center;
  width: 40vw;
  margin: 12px auto;
}
.browser-imgs{
  margin-top: 33px;
  width: 100%;
}
#center{
  display: block;
  padding: 0;
  position: relative;
  z-index: 22;
  margin: 0 auto;
}
#left{
  display: inline-block;
  padding: 0;
  position: relative;
  left: 20%;
  bottom: 250px;
  z-index: 2;
}
#right{
  display: inline-block;
  position: relative;
  left: 15%; 
  bottom: 240px;
  z-index: 4;
}
.sec3{
  width: 100%;
  background: url(../images/Background.png);
  background-size: cover;
  padding: 44px 0;
  margin-top: -134px;
}
.sec3 h3{
  display: inline-block;
  font-size: 28px;
  font-family: "Raleway";
  color: rgb(199, 178, 153);
  line-height: 1.2;
  font-weight: bold;
  margin-left: 13%;
}
.sec3 h3 strong{
  color:coral;
  font-weight: bold;
}
.sec3 p{
  display: inline-block;
  font-size: 18px;
  font-family: "Montserrat";
  color: rgb(97, 88, 85);
  line-height: 1.2;
  margin-left: 13%;
}
#purchase{  
  display: inline-block;
  font-size: 14px;
  font-family: "Raleway";
  font-weight: bold;
  margin-left: 13%;
  margin-right: 32px;
}
.sec4 h2{
  font-size: 30px;
  font-family: "Raleway";
  color: rgb(85, 85, 85);
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  padding-top: 6vh;
} 
.sec4 p{
  font-size: 16px;
  font-family: "Montserrat";
  color: rgb(140, 140, 140);
  line-height: 1.75;
  text-align: center;
  width: 40vw;
  margin: 12px auto;
}
.buttons-5{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.buttons-5 button{
  border-radius: 3px;
  box-shadow: inset 0px 3px 0px 0px rgba(115, 99, 87, 0.004);
  margin:11px 9px;
}

.sec5{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 410px));
  grid-gap: 22px;
  width: 100%;
  margin: 0 auto;
  max-width: 1300px;
}
.sec5 > div{
  display: inline-block;
  margin: 0;
}
.sec5 h4{
  font-size: 20px;
  font-family: "Raleway";
  color: rgb(207, 168, 121);
}
.sec5 p{
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(177, 177, 177);
  line-height: 1.5;
}
#loadmore{
  display: block;
  padding: 8px 18px;
  font-size: 14px;
  width: 150px;
  font-family: "Raleway";
  font-weight: bold;
  border-radius: 3px;
  box-shadow: inset 0px 3px 0px 0px rgba(115, 99, 87, 0.004);
  margin: 4% auto;
}
.sec6{
  width: 100%;
  min-height: 45vh;
  background: url(../images/bg\ photoo.png);
  background-size: cover;
  box-sizing: content-box;
}
.sec6 #circle{
  display: block;
  margin: 0 auto;
  padding-top: 90px;
}
.sec6 #iconplay{
  display: block;
  margin: 0 auto;
  position: relative;
  bottom: 85px;  
  cursor: pointer;
}
.sec6 h3{
  display: block;
  font-size: 28px;
  font-family: "Raleway";
  color:#fff;
  line-height: 1.2;
  font-weight: bold;
  text-align: center;
}
.sec6 p{
  display: block;
  color: #fff;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  width: 55vw;
  padding-bottom: 22px;
  margin: 0 auto;
}
#time3-26{
  display: block;
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(199, 178, 153);
  text-align: center;
  margin: 0 auto;
}
.sec7{
  width: 100%;
  max-height: 68vh;
  display: flex;
  justify-content: center;
  margin: 12vh 0;
}
.sec7 img{
  max-width: 60%;
  height: auto;
  object-fit: cover;
}
.sec7 h3{
  font-size: 30px;
  font-family: "Raleway";
  color: rgb(85, 85, 85);
  font-weight: bold;
  line-height: 1.2;
}
.sec7 span{
  font-size: 16px;
  font-family: "Montserrat";
  color: rgb(140, 140, 140);
  line-height: 1.75;
  margin-top: 36px;
}
.sec7 p{
  font-size: 16px;
  font-family: "Montserrat";
  color: rgb(140, 140, 140);
  line-height: 1.7;
  padding-left: 21px;
}
.sec7 p::before{
  content: "";
  background-image: url(../icons/04arrow.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 21px;
  height: 21px;
  position: absolute;
  right: 93%;
}
.sec8{
  background: url(../images/Background.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  
  min-height: 270px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 4em 0;
}
.d1{
  padding: 2em 1em;
}
.d1 img{
  display: block;
  margin: 0 auto;
}
.d1 h3{
  font-size: 48px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  text-align: center;
  margin-top: 12px;
}
.d1 span{
  display: block;
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(199, 178, 153);
  text-transform: uppercase;
  text-align: center;
}
.d1 img:last-of-type{
  margin-top: 18px;
}
.sec9{
  width: 100%;
}
.sec9 h2{
  font-size: 30px;
  font-family: "Raleway";
  color: rgb(85, 85, 85);
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  padding-top: 6vh;
}
.sec9 > p{
  font-size: 16px;
  font-family: "Montserrat";
  color: rgb(140, 140, 140);
  line-height: 1.75;
  text-align: center;
  width: 40vw;
  margin: 12px auto;
}
.items-3{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  margin: 35px auto;
}
.items-3 p{
  font-size: 16px;
  font-family: "Montserrat";
  color: rgb(140, 140, 140);
  margin:12px 0;
}
.items-3 h4{
  display: inline;
  font-size: 23px;
  font-family: "Raleway";
  color: rgb(85, 85, 85);
  font-weight: 400;
  width: 100%;
}
.items-3 img{
  width: 100%;
}
.items-3 > div:hover{
  background-color:rgb(143, 108, 63);
}
.items-3 > div:hover h4{
  color: black;
}
.items-3 > div:hover p{
  color: #fff;
}
.sec10{
  width: 100%;
  min-height: 290px;
  background-image: url(../images/lastbgphoto.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  grid-template-rows: 1fr ;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}
.sec10 img{
  display: inline-block; 
  padding: 50px 15px;
}
.sec11{
  width: 100%;
  min-height: 390px;
  background-image: linear-gradient( 0deg, rgb(33,27,25) 0%, rgb(36, 22, 15) 100%);
  background-size: cover;
  padding-top: 32px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.sec11 > div{
  min-width: 180px;
}
.waxom{
  display: inline-block;
  width: 21%;
  margin: 22px;
}
.waxom h3{
  display: inline;
  color: #fff;
  display: inline;
  font-family: 'Raleway', sans-serif;
  font-size: x-large;
}
.waxom p{
  display: inline-block;
  font-size: 16px;
  font-family: "Montserrat";
  color: rgb(140, 140, 140);
  line-height: 1.75;
}
.waxom section{
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(199, 178, 153);
  line-height: 1.5;
  cursor: pointer;
}
.recent{
  display: inline-block;
  margin: 22px;
  width: 21%;
}
.recent h2{
  color:#fff;
}
.recent p{
  display: inline-block;
  font-size: 16px;
  font-family: "Montserrat";
  color: rgb(140, 140, 140);
  line-height: 1.75;
}
.recent section{
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(199, 178, 153);
  line-height: 1.5;
}
.recent strong{
  color:darkcyan;
  font-weight: 800;
}
.verjinna{
  display: inline-block;
  width: 21%;
}
.verjinna h2{
  color:#fff;
}
.verjinna img{
  display: inline-block;
  padding: 16px;
}
.sec11 p:hover{
  color:bisque;
}
.author{
  width:100%;
  text-align: center;
  color: mediumaquamarine;
  background-color: #333545;
  font-size: 21px;
  padding: 20px 0;
}
.author a{
  text-decoration: none;
  color: mediumspringgreen;
}
@media (max-width: 700px){
  #bars{
    display: inline-block;
  }
  .navbar{
    display: block;
    width: 43vw; 
  }
  .navbar ul{
    position: absolute;
    right: 13px;
    top: 25px;
    display: none;
  }
  .navbar ul li{
    display: block;
  }
  .navbar ul li a{
    font-size: 15px;
  }
  .navbar ul:hover{
    display: block;
  }
  .navbar ul li:hover{
    display: block;
  }
  #bars:hover + .navbar ul{
    display: block;
  }
  .heading::before,.heading::after{
    width: 20px;
    height: 36px;
  }
  #left{
    position: relative;
    bottom: 118px;
  }
  #right{
    position: relative;
    bottom: 110px;
  }
  .sec7{
    display: flex;
    flex-direction: column;
  }
  .sec7 img{
    padding-top: 60%;
  }
  .sec7 h3{
    padding-top: 2em;
  }
  .sec8{
    margin-top: 400px;
    display: flex;
    flex-direction: column;
  }
  .items-3{
    display: flex;
    flex-direction: column;
  }
  .sec10 img {
    display: block;
    margin: 0 auto;
  }
  .sec11{
    display: flex;
    flex-direction: column;
  }
  .sec11 > div{
    margin: 32px auto;
    width: 70%;
  }
}
@media (min-width: 740px) and (max-width: 920px){
  .verjinna{
    width: 75%;
  }
}
@media (min-width: 700px) and (max-width: 1120px){
  #right{
    bottom: 190px;
  }
  #left{
    bottom: 195px;
  }
}
@media(min-width: 1100px){
  .sec7 p::before{
    position: absolute;
    right:96%;
  }
}
@media (min-width:1500px){
  #right{
    position: relative;
    bottom: 450px;
  }
  #left{
    position: relative;
    bottom: 450px;
  }
}
/*
font-family: 'Raleway regular';
font-family: 'Monstserrat Light';
font-family: 'Monstserrat Regular';
font-family: 'Raleway Bold';
font-family: Raleway Semibold;
font-family: Raleway Medium;
font-family: Raleway Extrabold;
font-family: Monstserrat Ultralight;
font-family: Roboto regular;
*/
